**
!LICENSE
!pyproject.toml
!README.md
!VERSION
!packaging/
!packaging/docker/
!packaging/docker/entrypoint.py
!src/
!src/**
!THIRD-PARTY.md
**/*.db*
**/*.py[cod]
**/__pycache__/
**/*.egg-info/
**/*.sqlite*
**/*.zip
